<h1>Welcome Sport Compass</h1>
<p>This Application contains following two sections:</p>
<ul>
<li><a href="http://localhost:3000/triangle" target="_blank">Triangle</li><br>
<li><a href="http://localhost:3000/posts" target="_blank">Blog API</li>
</ul>
